{% extends 'base.html' %}

{% load static %}

{% block content %}
            
                    
                       

                
                       
                        {% include 'includes/alerts.html' %}
                        
                            {{ form.errors }}
                        
                        <!-- dashboard inner -->
               <div class="midde_cont">
                <div class="container-fluid">
                   <div class="row column_title">
                      <div class="col-md-12">
                         <div class="page_title">
                            <h2>Dashboard</h2>
                         </div>
                      </div>
                   </div>
                </div>
           

                   <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                       <div class="full graph_head">
                          <div class="heading1 margin_0">
                             <h2>Comment</h2>
                          </div><br>
                          <form class="form-inline my-2 my-lg-0">
                           <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
                           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                         </form>
                       </div>
                       <div class="table_section padding_infor_info">
                          <div class="table-responsive-sm">
                             <table class="table table-hover">
                                <thead>
                                   <tr>
                                      <th>Id No</th>
                                      <th>First Name</th>
                                      <th>Middle Name</th>
                                      <th>Last Name</th>
                                      <th>Email</th>
                                      <th>Action</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    {% for member in members %}
                                    
                                   <tr >
                                      <td>{{ member.id }}</td>
                                      <td >{{ member.first_name }}</td>
                                      <td>{{ member.middle_name }}</td>
                                      <td>{{ member.last_name }}</td>
                                      <td>{{ member.email }}</td>
                                      <td ><a href="{% url 'member_detail' member.id %}" style="font-weight: bold; color: blue;">Edit</a>/<a href="{% url 'delete_object' member.id %}" onclick="return confirm('Are you sure you want to delete ?')" style="font-weight: bold; color: red;">Delete</a>/<a href="{% url 'comment' member.id %}" style="font-weight: bold; color: green;">Comment</a></td>
                                    
                                   </tr>
                                   {% endfor %}
                                
                               
                                </tbody>
                             </table>
                          </div>
                       </div>
                    </div>
                 </div>
              

                  
                   
                <!-- footer -->
            
             </div>
             <!-- end dashboard inner -->
                    
     


{% endblock %}